@font-face {
  font-family: "Raleway-Medium";
  font-style: normal;
  src: url("./Raleway-Medium.woff") format("woff");
}

@font-face {
  font-family: "Raleway-Regular";
  font-style: normal;
  src: url("./Raleway-Regular.woff") format("woff");
}

.App {
  text-align: center;
}
